@media (max-width: 1050px) {
  .container {
    width: 740px;
  }
  .offer {
    background: url(../pictures/offer_background.jpg) no-repeat -250px -104px;
    background-color: #F3F3F3;
  }
  .offer_option {
    width: 240px;
  }
  .offer_option_cap {
    width: 185px;
  }
  .offer_option_text {
    width: 180px;
  }
  .stat_kind {
    width: 180px;
  }
  .stat_kind_num {
    font-size: 27px;
  }
  .practice_card {
    width: 180px;
  }
  .practice_card_text {
    width: 170px;
  }
  .about_main {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .about_col_2 {
    margin-left: 0;
  }
  .subscribe_form {
    left: 0;
    width: 740px;
  }
  .subscribe_email {
    width: 270px;
  }
  .subscribe_button {
    width: 100px;
  }
  .footer_top_nav_list {
    margin-right: 50px;
  }
}
